<div class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="footer-section">
          <h3 class="footer-title footer-title_mod-a ui-title-inner">COMPANY INFO</h3>
          <div class="border-bottom border-bottom_mod-b"></div>

          <ul class="footer-list list-unstyled">
            <li class="footer-list__item"><a class="footer-list__link" 
            href="javascript:void(0);"><p><em><strong>Marketplace</strong></em></p>

<p><em><strong>Products</strong></em></p>

<p><em><strong>Services</strong></em></p>

<p><em><strong>Industries</strong></em></p>

<p><em><strong>Case studies</strong></em></p>

<p><em><strong>Inside IBM</strong></em></p>
</a></li>

            </li>
          </ul>
        </section>
      </div>

      <div class="col-md-3">
        <section class="footer-section">
          <h3 class="footer-title footer-title_mod-a ui-title-inner">INSIGHTS</h3>
          <div class="border-bottom border-bottom_mod-b"></div>

          <ul class="footer-list list-unstyled">
            <li class="footer-list__item"><a class="footer-list__link" 
            href="javascript:void(0);"> <p><strong><em>Careers</em></strong></p>

<p><strong><em>Latest news</em></strong></p>

<p><strong><em>Investor relations</em></strong></p>

<p><strong><em>Corporate responsibility</em></strong></p>

<p><strong><em>About IBM</em></strong></p>
</a>
            </li>

          </ul>
        </section>
      </div>

      <div class="col-md-3">
        <section class="footer-section">
          <h3 class="footer-title footer-title_mod-a ui-title-inner">SOLUTIONS</h3>
          <div class="border-bottom border-bottom_mod-b"></div>
          <ul class="footer-list list-unstyled">
            <li class="footer-list__item"><a class="footer-list__link" 
            href="javascript:void(0);"><p><em><strong>Support</strong></em></p>

<p><em><strong>Find a sales rep</strong></em></p>

<p><em><strong>Find a Business Partner</strong></em></p>
</a></li>

          </ul>
        </section>
      </div>

      <div class="col-md-3">
        <section class="footer-section">
          <h3 class="footer-title footer-title_mod-a ui-title-inner">Social Network</h3>
          <div class="border-bottom border-bottom_mod-b"></div>
          <ul class="social-links social-links_mod-b">
            <li><a target="_blank" href="https://www.facebook.com/"><i class="icons fa fa-facebook"></i></a>
            </li>
            <li><a target="_blank" href="https://twitter.com/"><i class="icons fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://instagram.com/"><i class="icons fa fa-instagram"></i></a>
            </li>
            <li><a target="_blank" href="https://www.google.com/"><i class="icons fa fa-google"></i></a></li>
          </ul>
        </section>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end footer-main -->


<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><span class="copyright__item"><p>@IBM.com</p>
</span> <span
        class="copyright__item"><p><strong>Contact</strong></p>

<p><strong>Privacy</strong></p>

<p><strong>Terms of use</strong></p>

<p><strong>Accessibility</strong></p>

<p><strong>Feedback</strong></p>
</span></div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end copyright -->















